<div class="container-big-card">
  <div class="big-card-img">
    <img
     src="https://i.stack.imgur.com/QO0jt.png"
     alt=""
     height="200px"
     width="400px"
     srcset="">
  </div>
  <div class="big-card-title">
    <a href="https://angular.io/"><h1>Saiu a nova versão do Angular</h1></a>
  </div>
  <div class="big-card-description">

      <p><a href="https://angular.io/">It is a long established fact that a reader will be distracted by
        the readable content of a page
         when looking at its layout.
         </a>
         </p>

  </div>
</div>
